{
    "SPOTIFY_LINK_URL": "YOURLINKURL",
    "SPOTIFY_TOKEN_URL": "YOURTOKENURL",
    "SPOTIFY_API_URL": "https://api.spotify.com",
    "BEATSAGE_BASEURL": "https://beatsage.com",
    "MODES": "Standard",
    "EVENTS": "DotBlocks,Obstacles",
    "ENVIRONMENT": "DefaultEnvironment",
    "DIFFICULTIES": "ExpertPlus",
    "PORT": 4200
}