{
    "SPOTIFY_LINK_URL": "YOURLINKURL",
    "SPOTIFY_TOKEN_URL": "YOURTOKENURL",
    "MODES": "Standard",
    "EVENTS": "DotBlocks,Obstacles",
    "ENVIRONMENT": "DefaultEnvironment",
    "DIFFICULTIES": "ExpertPlus",
    "PORT": 4200
}